.messages-container{
	margin-top: 20px
}
.message-text{
	display: block;
	max-height: 46px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: -o-ellipsis-lastline;
}
.table{
	font-size: 14px;
}
.table button{
	cursor: pointer;
}
.table td{
	vertical-align: middle;
}
.del-message{
	color: #f00;
}
.new-message{
	font-weight: 700;
}
.show-message-block{
	display: none;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.hide-btn{
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 30px;
}